* {
    box-sizing: border-box;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   background-color: #ffe6e6;
}

.name {
    margin: auto;
    text-align: center;
    font-size: 30px;
}

.title {
    margin: auto;
    text-align: left;
    font-size: 25px;
    padding-top: 5%;
    padding-left: 12.5%;
}

.grid {
  margin: auto;
  width: 75%;
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-column-gap: 5%;
  grid-row-gap: 5%;

}

.info {
  align-self: center;
}
