* {
    box-sizing: border-box;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   background-color: hsl(0, 30%, 95%); 
   font-size: 19px;
}

#name {
    font-size: 40px;
}

a, a:visited, a:hover, a:active {
  color: black;
  text-decoration-thickness: 0.5px;
}

.title {
    margin: auto;
    text-align: left;
    font-size: 35px;
    padding-top: 2%;
    padding-left: 12.5%;
    color: #ff8080;
    font-weight: 100;
}

.grid {
  margin: auto;
  width: 75%;
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-column-gap: 8%;
  grid-row-gap: 5%;
}

.info, 
.blurb {
  align-self: center;
}
